.memo {
  font-size:1.2rem;
  height:100px;
}
.list {
  background-color: white;
  list-style: square;
  font-size:1.2rem;
}
.timer {
  color:white;
  padding:10px;
  text-align: center;
  font-size:3rem;
}