<head>
    <title>layouts</title>
    <link rel="resource" type="application/l10n" href="locale/locale.properties">
</head>

<body>
</body>

<template name="layoutMain">
    <div class="container">
        <div class="row">
            <div class="col-2">
                {{> List}}
                {{> Timer}}
            </div>
            <div class="col-10">
                <div class="row" style="height:600px;">
                    <div class="col px-0">
                        <iframe id="viewer-1" src="" width="100%" height="100%"></iframe>
                    </div>
                    <div class="col px-0">
                        <iframe id="viewer-2" src="" width="100%" height="100%"></iframe>
                    </div>
                </div>
                <div class="row">
                    <div class="col px-0">
                        <textarea class="form-control memo" id="memo" name="memo" style="height: 100px">{{contents.memo}}</textarea>
                        <div class="row">
                            <div class="offset-9 col-3 text-end">
                                <button type="button" class="btn btn-primary memoSave" data-target="memo">메모저장</button>
                                <button type="button" class="btn btn-danger memoDelete" data-target="memo">메모삭제</button>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>
</template>

<template name="layoutViewer">
    {{> yield}}
</template>

<template name="Timer" >
    <div class="timer"></div>
</template>

<template name="Loading">
    <h1 style="color:white;">Loading...</h1>
</template>


<template name="List">
    <ul class="list">
        {{#each item in items}}
        <li class="p-0 py-1">
            <div class="row">
                <div class="col-7 pdfName">
                    {{item.name}}
                </div>
                <div class="col-auto text-end">
                    <button type="button" class="btn btn-sm btn-dark pdfLoad" data-key="{{item._id}}" data-name="{{item.name}}" data-viewer-id="1">좌</button>
                    <button type="button" class="btn btn-sm btn-dark pdfLoad" data-key="{{item._id}}" data-name="{{item.name}}" data-viewer-id="2">우</button>
                    <button tyle="button" class="btn btn-sm btn-danger pdfRemove" data-key="{{item._id}}" data-id="{{item.id}}">X</button>
                </div>
            </div>
        </li>
        {{/each}}
    </ul>
    <div class="row">
        <div class="col">
            {{> uploadForm}}
        </div>
    </div>
</template>

<template name="uploadForm">
    {{#with currentUpload}}
    Uploading <b>{{file.name}}</b>:
    <span id="progress">{{progress.get}}%</span>
    {{else}}
    <input class="form-control" id="fileInput" type="file" />
    {{/with}}
</template>